#image{
    margin-left: 500px;
    margin-top:20px;
}


.c {
    position: absolute;
    border-radius: 24px;
    width:80%;
    height:44px;
    border: 1px solid white;
    outline: none;
    box-shadow:none;
    font-size: 18px;
    
}



[type="submit"]{
    max-width: 12%;
    height: 30px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.one:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 2px solid #dadce0;
    width: 47%;
    height: 46px;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}

.one{
    width: 45%;
    height: 50px;
    border-radius: 24px;
    border: 1px solid rgb(218, 209, 209);
    position: relative;
    margin-left: 360px;
    
}

.two{
    flex-shrink: 0;
    box-sizing: border-box;
}

.three{
    height: 60px;
}

.four{
    display: flex;
    align-items: center;
    padding: 6px;
}

.MV3Tnb{
    display:inline-block;
    padding:5px;
    margin:0 5px;
    color:#222;
    text-decoration: none;
    font-size: 16px;
}

a:hover{
    text-decoration: underline;
}

body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
   
}

.five{
    display: inline-block;
    flex-grow: 1;
}

.six{
    position: relative;
   margin-left: 1000px;
}

.seven{
    opacity: 0.6;
    background-position: -64px -29px;
    padding: 8px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}

.seven:hover{
    opacity: 0.4;
    background-color: thistle;
    border-radius: 50%;
}

.eight{
    background-position: -64px -29px;
    padding: 5px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}


.nine{
    border-radius: 50%;   
}

.nine:hover{
    border:2px solid thistle;
    border-radius: 50%;
}

.ten{
 
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #eee;
   border:2px solid #eee;
   height: 44px;
   display:flex;
    align-items: center;
    
}

.elleven{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    color: #70757a;
    text-decoration: none;
    font-size: 17px;
}

.twelve{
    margin-left: 650px;
}

#i{
    position: relative;
    border:1px solid white;
    margin-left:13px;
    height: 100%;
    border-radius: 24px;
    background-color: white;
    border:1px solid white;
    outline: none;
    
}

#j{
    position: absolute;
    top:0;
    right: 0;
    margin-right: 17px;
    height: 100%;
    border-radius: 24px;
    border:1px solid white;
    background-color: white;
    outline: none;
    
}

@media only screen and (max-width:1200px) {
    .twelve{
        margin-left: 0;
        position: relative;
        left: 0;
    }
    .six{

        margin-left: 350px;
        
       
    }
    #image{
        margin-left: 160px;

        
    }
    .one{
        margin-left: 130px;
        width: 55%;
    
    }

}
